<a href="https://colab.research.google.com/github/arcyda/DeepLearningHandsOn/blob/main/pre_process_of_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

数据预处理：把原始数据集（CSV文件）读取进来,进行数值处理后，变成torch可以使用的张量

In [7]:
cd /content/sample_data

/content/sample_data

In [8]:
ls

anscombe.json*                mnist_test.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md*

在硬盘上创建一个文件

In [10]:
import os

os.makedirs(os.path.join('..','content','sample_data'), exist_ok=True)

In [12]:
data_file = os.path.join('..','content','sample_data', 'house_tiny.csv')

In [16]:
with open(data_file, 'w') as f:
  f.write('NumRooms,Alley,Price\n') #写入列名
  f.write('NA,Pave,127500\n')    #写入几组数据
  f.write('2,NA,106000\n')
  f.write('4,NA,178110\n')
  f.write('NA,NA,140000\n')

In [14]:
# with open(data_file, 'w') as f:  #每次执行这句，都会从头开始写文件

读取文件

In [17]:
import pandas as pd

data = pd.read_csv(data_file)
print(data)

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178110
3       NaN   NaN  140000

发现上述文件存在缺失数据，对缺失数据如何操作？

常见方法：1.插值；2.删除（把某一行删除）

差值方法：

1.首先将数据分为”输入数据“、”输出数据“

In [21]:
inputs, outputs = data.iloc[:, 0:2], data.iloc[:, -1]
inputs

   NumRooms Alley
0       NaN  Pave
1       2.0   NaN
2       4.0   NaN
3       NaN   NaN

In [26]:
outputs, type(outputs)

(0    127500
 1    106000
 2    178110
 3    140000
 Name: Price, dtype: int64, pandas.core.series.Series)

2.对inputs进行插值，对数值值（第一列）fillna(), mean()求平均值

In [29]:
inputs = inputs.fillna(inputs.mean(numeric_only=True)) #

In [30]:
inputs

   NumRooms Alley
0       3.0  Pave
1       2.0   NaN
2       4.0   NaN
3       3.0   NaN

3.对inputs里面的类别值或离散值，将NaN视为一个类别，pd.get_dummies()

In [31]:
inputs = pd.get_dummies(inputs, dummy_na=True)
print(inputs)

   NumRooms  Alley_Pave  Alley_nan
0       3.0           1          0
1       2.0           0          1
2       4.0           0          1
3       3.0           0          1

到此，inputs, outputs里面数据的数据类型都为数值型，可以转换为张量形式了

In [32]:
type(inputs), type(outputs)

(pandas.core.frame.DataFrame, pandas.core.series.Series)

In [33]:
import torch

X, y = torch.tensor(inputs.values), torch.tensor(outputs.values)
X, y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500, 106000, 178110, 140000]))

In [34]:
type(X), type(y)

(torch.Tensor, torch.Tensor)

In [39]:
X.size(), X.shape

(torch.Size([4, 3]), torch.Size([4, 3]))